.pointer {
  cursor: pointer;
}

.background-container {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/login-background.JPG");

  background-size: cover;
}
.background-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
}

.flexflex-colitems-centerjustify-centerh-screen {
  height: 400px;
  width: 500px;
  background-color: #fbfff1;
  border: 3px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 30px 40px;
}
.text-3xlmb-4 {
  color: #fbfff1;
  font-size: 28px;
  font-weight: 500;
}
.mb-4 {
  margin-bottom: 1rem;
}

.flex-row {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
}
.text-3xl {
  font-size: 1.875rem;
}

.center-text {
  text-align: center;
}
.text-3xlmb-4 {
  text-align: center;
}
.pill-container {
  display: flex;
}

.rounded-left {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}
